<div class="StripeCheckoutFormModalComponent FlexColumn [[if classNames]][[classNames]][[endif]]">

  <h2>Charges</h2>
  <div id="[[id]]_charges" class="Container FlexColumn">
    [[charges]]

    <div class="FlexRow">
      <div class="FlexVerticalAlign">
        <div>Transaction fee: [[transactionFee]]</div>
      </div>
      <div class="Tooltip"
        title="Stripe, our payment provider, charges 2.9% + $0.30 to process this transaction. This fee compensates for that charge.">
        <i class="material-icons">help_outline</i>
      </div>
    </div>

    <div class="FlexRow">
      <div class="FlexExpand"></div>
      <b>Total: [[total]]</b>
    </div>
  </div>

  <h2>Payment Information</h2>
  <div class="Container FlexColumn">
    <a href="https://stripe.com">
      <img src="/static/powered_by_stripe_dark.svg" width="128px"></a>

    <label for="[[id]]_card">Credit or debit card</label>
    <div class="CardContainer" id="[[id]]_card">
    <!-- A Stripe Element will be inserted here. -->
    </div>

    <!-- Used to display Element errors. -->
    <div id="[[id]]_errorsContainer" role="alert"></div>
  </div>

  <div class="FlexExpand"></div>

  <div class="FlexRow">
    <div class="FlexExpand"></div>
    <button id="[[id]]_paymentButton"
      onclick="[[this]].onSubmitPaymentClicked();">Submit Payment</button>
  </div>
</div>
