.StripeCheckoutFormModalComponent {
    min-height: 256px;
    width: 100%;
}

.StripeCheckoutFormModalComponent .CardContainer {
    min-height: 48px;
}

.StripeCheckoutFormModalComponent h2 {
    margin-bottom: 4px
}

.StripeCheckoutFormModalComponent .Container {
    margin-left: 32px;
}