<div id="[[componentId]]" class="Slideshow [[if classNames]][[classNames]][[endif]]">

  <!-- Left button -->
  <button class="SlideshowButton SlideshowButtonLeft" onclick="[[this]].onSlideLeftButtonClicked();">
    <div class="FlexVerticalAlign">
      <i class="material-icons">keyboard_arrow_left</i>  
    </div>  
  </button>

  <!-- Image -->
  <div class="FlexRow" style="width: 100%;">
    <div class="FlexExpand"></div>
    <div id="[[componentId]]_imageListContainer" class="SlideshowImageContainer">
      [[if defaultImage]][[endif]]
      [[images]]
    </div>
    <div class="FlexExpand"></div>
  </div>

  <!-- Right button -->
  <button class="SlideshowButton SlideshowButtonRight" onclick="[[this]].onSlideRightButtonClicked();">
    <div class="FlexVerticalAlign">
      <i class="material-icons">keyboard_arrow_right</i>  
    </div>  
  </button>
</div>