.Slideshow {
    position: relative;
    display: flex;
    width: 100%;
}

.SlideshowButton {
    height: 48px;
    width: 48px;
    min-width: 48px;
    line-height: 48px;
    border-radius: 24px;
    position: absolute;
    top: 50%;
}

.SlideshowButtonLeft {
    left: 32px;
}

.SlideshowButtonRight {
    right: 32px;
}

.SlideshowImageContainer {
    height: 100%;
    width: 100%;
    display: flex;
    object-fit: cover;
}

.Slideshow img, .Slideshow video {
    object-fit: cover;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    max-height: 100%;
}