<script>[[ToggleableTabManagerComponent.js]]</script>

<style>[[ToggleableTabManagerComponent.css]]</style>

<script>JSRender.addTemplate('ToggleableTabManagerComponent_template', `[[_ToggleableTabManagerComponent.html]]`);</script>