<div class="Modal" id="[[id]]"
  onclick="Component.get('[[componentId]]').close(); event.stopPropagation();">

  <div onclick="Dom.removeElement('[[id]]'); event.stopPropagation();">
    <i class="material-icons ModalCloseButton">close</i>
  </div>

  <div class="FlexVerticalAlign" style="height: 100%;">
    <div class="ModalContent [[if classNames]][[classNames]][[endif]]" onclick="event.stopPropagation();">[[content]]</div>
  </div>
</div>
