<div id="[[componentId]]" class="SearchSuggestionComponent [[if classNames]][[classNames]][[endif]]">
  <div class="FlexRow">
    <!-- Query input -->
    <div class="FlexColumn FlexVerticalAlign">
      <input
        id="[[componentId]]_queryInput"
        type="text"
        name="query"
        placeholder="&#x1F50D;"
        autocomplete="off"
        [[if label]]value="[[label]]"[[endif]]
        oninput="[[this]].onChange(this.value);"
        onclick="[[this]].onClick();">
    </div>

    <div class="FlexVerticalAlign" style="height: 38px;">
      <button onclick="[[this]].clear();">
        <div class="FlexVerticalAlign">
          <i class="material-icons">close</i>
        </div>
      </button>
    </div>
  </div>

  <!-- Results -->
  <div id="[[componentId]]_resultsContainer" class="FlexColumn">
  </div>
</div>
