.BannerComponent {
    width: 100%;
    position: relative;
    overflow: hidden;
}

.BannerComponent img {
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
}

.BannerComponent .TextOverlay {
    position: absolute;
    left: 16px;
    top: 16px;
}