<div class="FlexColumn" id="[[componentId]]">
  <h2 class="NoSelect">Edit image</h2>

  <div class="FlexRow">
    <!-- Image preview -->
    <div class="PreviewContainer"
      onmousemove="[[this]].onMouseMoved(event);"
      style="width: [[imageWidth]]; height: [[imageHeight]];">
      <img src="[[imageSrc]]"
        onclick="event.preventDefault();"
        ondragstart="event.preventDefault();" 
        class="NoSelect [[if imageAlign]]Align[[imageAlign]][[endif]]"/>
    </div>

    <div class="FlexExpand"></div>
    
    <!-- Slider -->
    <div class="FlexColumn SliderContainer"
      [[if notEditable]]style="display: none;"[[endif]]>
      <div class="SliderIcon">+</div>
        <input id="imageScaleInput" type="range" class="VerticalSlider" orient="vertical" min="0.05" max="1" step="0.01" value="1"
        title="Adjust image scale"
        oninput="[[this]].onScaleChanged();">
      <div class="SliderIcon">-</div>
    </div>
  </div>

  <div class="FlexRow">
    <!-- Image selector -->
    <div>[[imageSelector]]</div>

    <div class="FlexExpand"></div>

    [[if message]]
      <div class="FlexVerticalAlign">
        <b id="[[componentId]]_message">[[message]]</b>
      </div>
    [[endif]]

    [[if constrainSize]]
      <div class="FlexVerticalAlign">
        <b>Required image size: [[imageWidth]] wide by [[imageHeight]] high.&nbsp;</b>
      </div>
    [[endif]]

    [[if imageAlign]]
      <div class="FlexVerticalAlign">
        <b>Image will be aligned to the [[imageAlign]].&nbsp;</b>
      </div>
    [[endif]]

    <div class="FlexExpand"></div>

    <!-- File upload -->
    [[if showUploadFileUI]]
      <div id="[[componentId]]_fileUploadMessageContainer" class="FlexVerticalAlign"></div>
      <div class="CardButton" title="Upload an image"
        onclick="[[this]].onUploadFileButtonClicked();">
        <i class="material-icons">file_upload</i>
        <input id="[[componentId]]_fileInput" type="file" style="display: none;" onchange="[[this]].onFileSelected(this);">
      </div>
    [[endif]]
  </div>

  <!-- Set image button -->
  <button title="Save image changes" onclick="[[this]].onSaveButtonClicked();">Save</button>
</div>