[[/src/js/JSUtils/components/ModalComponent/ModalComponent.html]]

<script>[[ImageEditorComponent.js]]</script>
<style>[[ImageEditorComponent.css]]</style>

<script>JSRender.addTemplate('ImageEditorTemplate', `[[_ImageEditorComponent.html]]`);</script>