<div id="[[componentId]]" class="CookieConsentModalComponent [[if classNames]][[classNames]][[endif]]">
  <div>This site uses cookies to keep you signed in. <a href="/privacy" target="_blank">Privacy Policy</a>,<a href="/terms" target="_blank">Terms and Conditions</a></div>
  <div class="FlexRow">
    <div class="FlexExpand"></div>
    <button
      onclick="[[this]].onDeclineButtonClicked();">Decline</button>
    <button
      onclick="[[this]].onAcceptButtonClicked();">Accept</button>
  </div>
</div>
