<import path="/src/JSUtils/components/ModalComponent/ModalComponent.html">

<script>[[CookieConsentModalComponent.js]]</script>

<style>[[CookieConsentModalComponent.css]]</style>

<script>JSRender.addTemplate('CookieConsentModalComponent_template', `[[_CookieConsentModalComponent.html]]`);</script>
